*{
    box-sizing: border-box;
}

body {
    background-color: white;
}


h2 {
font-family: 'Open Sans', sans-serif;
font-weight: normal;
text-align: center; 
border: 3px solid blue;
border
width: 50%;
}

p {
    background-color: black;
    color: hsl(0, 0%, 100%);
}

ul {
    font-size: 50px;
    list-style: none; 
}

ol {
    font-size: 50px;
    list-style: upper-latin;
    margin-left: 40px;
}

.conteudo {
    margin-left: 2rem; 
}

#titulo-principal {
    margin-left: 5rem;
}

/* Explicando Cascade e Especificidade */

.titulo.titulo-pagina{
    color: purple;
}

.titulo-pagina {
    font-size: 5rem;
    border: 5px solid red;
    color: red;
}
.titulo {
    border-style: dashed; 
    color: green; 
}
h1 {
    color: blue ; 
}
/*
Regra de especificadade::after
0 - 0 - 0 
*/

.titulo-generico{
    font-size: 40px;
    color: red;
}

.container-exemplo > .titulo-generico {
    font-size: 80px;
    color: black;
}

.meu-link{
    font-size: 30px;
    text-decoration: none;
}

.meu-link:hover {
    text-decoration: underline;
    background-color: gray;
}

.meu-link:link{
    color: green;
}
.meu-link:visited{
    color: orange;
}
.meu-link:active{
    font-size: 60px;
    color: red;
}
.meu-link:focus{
    font-size: 90px;
    color: purple;
}

.meu-input{
    background-color: gray;
    font-size: 50px;
    color: white;
}

.meu-input:focus{
    background-color: white;
    color: black; 
}

.nav-menu{
    border: 2px solid blue;
    list-style: none;
}

.menu-item{
    border: 2px dashed purple;
    background: gray;
    margin-bottom: 20px;
    display: inline-block;  
    font-size: 30px;
    min-width: 200px; 
}

.menu-item:last-child {
    margin-bottom: 0px;
}

.menu-item:first-child{
    color: red;
}

.menu-item:nth-child(3){
    background-color: green;
}

.menu-item:nth-child(n + 2){
    font-weight:bold; 
}

.meu-input[type="number"] {
    font-size: 90px;
    background-color: red;
}

.bloco-inicial {
    font-size: 50px;
    background-color:tomato ;
    margin-bottom: 20px;
    display: block: /*Por padrão div é block */
}

.span-inicial {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: yellow;
    text-decoration: underline;
    text-transform: uppercase;
    display: inline; /* Por padrão span é inline */ 
}
.bloco-escondido{
    display: none;
}
/* Elementos importantes que são inline,
<span>
<a>
<strong>
<em>
*/

.box{
    background-color: blue;
    color: white;
    width: 100px;
    /* height: 100px;  */
    display: block; 
    /* border: 10px solid green; */

    /* padding-top: 40px; 
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 30px; */

    /* padding: 10px 10px; */

    padding-top: 10px; 
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px; 

    margin: 10px; 
    border-top: 10px solid green; 
    border-bottom: 4px dashed green;
     
}